<p style="color: green"><%= notice %></p>

<h1>Play!</h1>

<%= render "messages/form", message: Message.new %>

<%= turbo_stream_from 'live_messages' %>

<div id="messages">
  <% @messages.each do |message| %>
    <%= render partial: 'messages/short_message', locals: { message: message } %>
  <% end %>
</div>
